@media (min-width: 576px) {
  .biggesttext {
    font-size: 16vw!important;
  }
}

@media (max-width: 576px) {
  .biggesttext {
    font-size: 32vw!important;
  }
}

.gilroylight {
  font-family: 'Gilroy-Light ☞';
}

@media (min-width: 576px) {
  .benimbutton.masaustundegizletekrar {
    display: none;
  }
}

@media (max-width: 576px) {
  .myformcontrol4.yuvarlatmakgerek {
    border-top-right-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
  }
}

