@media (min-width: 576px) {
  .biggesttext {
    font-size: 16vw!important;
  }
}

@media (max-width: 576px) {
  .biggesttext {
    font-size: 32vw!important;
  }
}

@media (max-width: 576px) {
  .smallertext {
    font-size: 1rem;
  }
}

.404text {
  font-size: 16vw;
}

.ozelliklerhorizontal li div svg, .ozelliklerhorizontal li div i {
  margin-right: .5rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .tasirmacont .pricingtabcontent .row .col {
    padding-top: 1.5rem;
  }
}

.bloklink {
  display: flex;
}

.cookiemotherdiv {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  width: 100%;
  z-index: 3;
}

