@media (min-width: 576px) {
  .biggesttext {
    font-size: 16vw!important;
  }
}

@media (max-width: 576px) {
  .biggesttext {
    font-size: 32vw!important;
  }
}

@media (max-width: 576px) {
  .smallertext {
    font-size: 1rem;
  }
}

.404text {
  font-size: 16vw;
}

.tasirmacont .row .col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

