.horizontal-scroll {
  overflow-x: hidden;
  position: relative;
  height: 215px;
}

.card-container {
  display: flex!important;
  justify-content: flex-start!important;
  align-items: center!important;
  flex-direction: row!important;
  flex-basis: 30%!important;
  position: absolute!important;
  gap: 10px!important;
  left: 0;
  transition: .5s left ease-out!important;
  overflow-x: hidden!important;
  height: 215px;
  padding: 0 1.35rem;
}

.card-container .card {
  /*min-width: 280px;*/
  flex: 1;
  height: 200px;
  width: 120px;
  /*border: 1px solid #ccc;*/
  background: rgba(242,244,248,0);
  /*background: #00F260;*/
  /*background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);*/
  /*background: linear-gradient(to bottom, #0575E6, #00F260);*/
  /*box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);*/
  /*-webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);*/
  /*-moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);*/
  text-align: center;
  justify-content: space-between;
  border: none;
}

.card-container .card img {
  flex-wrap: wrap;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  float: none;
  display: block;
  object-fit: fill;
  height: 180px;
  border-style: solid;
  border-width: 0px;
  border-radius: 0;
}

.horizontal-scroll .btn-scroll {
  background: 0;
  border: 0;
  /*border: 1px solid red;*/
  /*padding: 0 10px;*/
  z-index: 10;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000000;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.horizontal-scroll .btn-scroll:hover {
  /*color: #ffffff;*/
  /*background-color: #007bff;*/
  /*border-radius: 10px;*/
}

.horizontal-scroll .btn-scroll:focus {
  /*outline: none;*/
  /*background-color: #007bff;*/
  /*color: rgba(255, 255, 255, 1.0);*/
  /*border-radius: 5px;*/
}

.horizontal-scroll #btn-scroll-left {
  position: absolute;
  left: 0;
  padding-right: 9px;
}

.horizontal-scroll #btn-scroll-right {
  position: absolute;
  right: 0;
  padding-left: 9px;
}

.card-container a {
  text-decoration: none!important;
  color: #000;
  outline-width: 1px;
  outline-color: #000000;
}

.linkduzenlemekisim.yenikutu.tumzamanlar {
  background: #4b6dff!important;
  color: #fff;
  border-width: 1px;
}

.tumzamanlarh6 {
  margin-bottom: .5rem;
  text-align: center;
  font-family: 'Gilroy-Bold ☞';
}

.tumzamanlar .turkishlira {
  font-weight: 200;
}

.linkiconlari .linkiconlari-button.thumb-change {
}

.linkiconlari .linkiconlari-button.thumb-change {
}

.linkiconlari .linkiconlari-button.thumb-change {
}

.linkiconlari .linkiconlari-button svg, .linkiconlari .linkiconlari-button i {
  /*color: #0575e6;*/
  font-size: 1.2rem;
}

.linkiconlari .linkiconlari-button.active svg, .linkiconlari .linkiconlari-button.active i {
  color: #0575e6;
}

.linkiconlari {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
}

.module.yenikutu {
  /*border-width: 0;*/
  box-shadow: none;
}

.icerikkismidiv p {
  margin-bottom: 0;
}

.emojidiv {
  margin-right: 1rem;
  font-size: 2rem;
  display: grid;
  align-items: center;
}

.icerikbasligi {
  font-family: 'Gilroy-Light ☞';
  font-size: .9rem;
}

.icerikdetayi {
  font-family: 'Gilroy-Bold ☞';
  font-size: 1.1rem;
}

.trashlottie {
  width: 2rem;
  position: absolute;
  bottom: 0;
  right: .8rem;
}

.beyazok .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.linkeklemediv {
  margin-top: 2rem;
}

.linkeklemediv .btn {
  width: 100%;
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-radius: 2rem;
  border-width: 0px;
  border-style: solid;
  border-color: #000;
}

.linkeklemediv #linkekle {
  background: linear-gradient(143deg, #f2f4f8, #ffffff 100%);
  color: #000000;
}

.linkeklemediv #zenginlinklerikesfet {
  background-color: #000000;
  color: #ffffff;
}

.adminpanelisayfasi header {
  /*background-color: #f2f4f8;*/
}

.linkebaglanma .icdiv .icondiv {
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  border-radius: 50%;
}

.linkebaglanma .icdiv .icondiv.hashtag {
  background-color: #4c6bf6;
  color: #fff;
}

.linkebaglanma.biolinkbaglanma .baglantilinki {
  text-decoration: underline;
  color: #2c2c2c;
}

.adminpanelindekichartindivi h4, .aktifhizmetcol h4 {
  font-family: 'Gilroy-Light ☞';
  /*font-weight: 300;*/
  margin-bottom: 1rem;
}

.adminpanelindekichartindivi {
  padding: .5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

