.fill2-button {
  background: #ff0049;
  /*border-color: #ff0049;*/
  border: none;
  border-radius: 10px;
  height: 3rem;
  padding: 0 2rem;
  color: #ffffff;
}

.fill2-button:focus {
  background: #e30088;
  /*border-color: #ff0049;*/
  border: none;
  color: #ffffff;
}

.formbolum {
  margin-bottom: 1rem;
}

.fab-options {
}

.pinkbutton {
  background: #ff0049;
  border: 1px solid #ff0049;
  border-radius: 10px;
}

.pinkbutton:hover {
  background: #ff006b;
  border: 1px solid#ff006b;
  color: #fff;
}

.fill2-button-secondary {
  background: #fbfbfb;
  /*border-color: #ff0049;*/
  border: none;
  border-radius: 10px;
  height: 3rem;
  padding: 0 2rem;
  color: #131517;
}

.fill2-button-secondary:hover {
  background: #f5f5f5;
  /*border-color: #ff0049;*/
  border: none;
  color: #131517;
}

.fill2-button-secondary:focus {
  background: #f5f5f5;
  /*border-color: #ff0049;*/
  border: none;
  color: #131517;
}

.fill2-button:hover {
  background: #e30088;
  /*border-color: #ff0099;*/
  border: none;
  color: #ffffff;
}

[class*="fab"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
}

.fab-button {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin: 16px;
  display: table;
  background: #2196f3;
  /*box-shadow: 0 2px 6px rgba(0,0,0,0.5);*/
  position: relative;
  transition: box-shadow 0.2s;
}

.fab-button.red {
  background: #4d6bf5;
}

.fab-button:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  cursor: pointer;
}

.fab-button:focus {
  z-index: 450;
  pointer-events: none;
}

.fab-button div {
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 29px;
  border-radius: 100%;
  box-shadow: 0 -11px #fff, 0 11px #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  transition: all 0.5s cubic-bezier(0.5, 2, 0.5, 1);
}

.fab-button .plus {
  width: 4px;
  height: 4px;
  margin: 30px;
  border-radius: 0;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 -3px #fff, 0 3px #fff, -3px 0 #fff, 3px 0 #fff, 0 -6px #fff, 0 6px #fff, -6px 0 #fff, 6px 0 #fff, 0 -9px #fff, 0 9px #fff, -9px 0 #fff, 9px 0 #fff, 0 -12px #fff, 0 12px #fff, -12px 0 #fff, 12px 0 #fff;
}

#plusiconu.plus.arti {
  transform: rotate(0deg);
}

#plusiconu.plus.carpi {
  transform: rotate(45deg);
}

.fab-button:hover + .fab-options, .fab-options:active {
  /*width: auto;*/
  /*opacity: 1;*/
  /*transition-duration: .5s;*/
  /*animation-duration: 1s;*/
  /*display: initial;*/
  /*top: -10rem;*/
  /*transform: translateY(-2rem);*/
  /*left: 1rem!important;*/
}

.fab-options {
  position: absolute;
  /*width: 0;*/
  /*opacity: 0;*/
  z-index: 500;
  /*margin: -70px 0 0 75px;*/
  /*left: -9rem;*/
  top: -7rem;
  /*display: none;*/
  transition-duration: .5s;
  animation-duration: 1s;
  /*transform: translateY(0);*/
}

.fab-options .fab-option {
  display: flex;
  color: #fff;
  margin: 8px;
  text-decoration: none !important;
  width: 16rem;
}

.fab-options .fab-option * {
  /*box-shadow: 0 2px 6px rgba(255,255,255,0.08);*/
  /*transition: box-shadow 0.2s;*/
}

.fab-options .fab-option:hover * {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.fab-options .fab-option p {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 15px;
  margin: 0;
  /*background: #424242;*/
  position: relative;
  top: -5px;
  left: 8px;
  border-radius: 2px;
  font-family: 'Gilroy-Bold ☞';
}

.fab-options .fab-option svg {
  width: 24px;
  height: 24px;
  /*border-radius: 100%;*/
  background: rgba(0,0,0,0);
  padding: 0px;
  color: #424242;
  box-shadow: 0 2px 6px rgba(255,255,255,0);
  transition: box-shadow 0.2s;
}

.fab-options .fab-option:hover {
  cursor: pointer;
}

.fab-options.hide {
  /*left: -13rem;*/
  /*opacity: 0;*/
  /*width: 0;*/
  transform: translateX(-100%);
  pointer-events: none;
}

.fab-options.show {
  left: 1rem;
  top: -7rem;
  opacity: 1;
  width: auto;
}

