.font-1 {
  font-family: 'Gilroy-Bold ☞';
}

.font-2 {
  font-family: 'Gilroy-Light ☞';
}

.font-3 {
  font-family: 'Poppins';
}

.font-4 {
  font-family: 'Montserrat';
}

.font-5 {
  font-family: 'Cinzel';
}

.font-6 {
  font-family: 'Codystar';
}

.font-7 {
  font-family: 'DM Mono';
}

.font-8 {
  font-family: 'Audiowide';
}

.font-9 {
  font-family: 'Baumans';
}

.font-10 {
  font-family: 'Akaya Kanadaka';
}

.font-11 {
  font-family: 'Anton';
}

.font-12 {
  font-family: 'Bebas Neue';
}

