.iletisimbilgilericol a {
  display: block;
  text-decoration: none;
  color: #212529;
  font-family: 'Gilroy-Bold ☞';
  font-size: 1.2rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  line-height: 1.2rem;
}

.page-link {
  position: relative;
  display: block;
  color: #4d6bf5;
  text-decoration: none;
  background-color: #f9f9f9;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item:first-child .page-link {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

@media (max-width: 768px) {
  .contactpage .paymentdiv ul li span {
    /*display: none;*/
  }
}

.contactpage .paymentdiv ul.list-inline {
  display: flex;
}

@media (min-width: 768px) {
  .contactpage .paymentdiv ul.list-inline {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .contactpage .paymentdiv ul.list-inline {
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .contactpage .paymentdiv ul.list-inline svg {
    font-size: 1.3rem;
  }
}

.contactformbolum {
  margin-bottom: 1rem;
}

.paymentdiv ul li a {
  text-decoration: none;
  color: #212529;
  display: flex;
}

@media (min-width: 1400px) {
  .paymentdiv ul li a {
    font-size: 1.1rem;
  }
}

.paymentdiv ul li svg {
  margin-right: .5rem;
}

@media (min-width: 992px) {
  .konumlististem {
    max-width: 40%;
  }
}

@media (min-width: 992px) {
  .iletisimlistesi {
    display: flex;
    justify-content: space-between;
  }
}

.pixeltable td {
  padding: 1rem;
}

