@media (max-width: 576px) {
  img, svg {
    vertical-align: middle;
  }
}

.paymentpage .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f2f4f8;
  background-clip: padding-box;
  border: 1px solid #f2f4f8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.doodle1 {
  position: absolute;
  width: 2.5rem;
  left: -2.5rem;
  top: -1.5rem;
}

@media (max-width: 576px) {
  .doodle1 {
    display: none;
  }
}

.doodle2 {
  position: absolute;
  width: 2rem;
  left: 14.5rem;
  top: -1.5rem;
}

@media (min-width: 576px) {
  .doodle2 {
    display: none;
  }
}

.neumorphic {
  box-shadow: 6px 6px 16px rgba(174,174,192,0.2), -6px -6px 16px #FFFFFF;
}

.paymentdiv .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

.paymentpage .form-check-input {
  width: 1em;
  height: 1em;
  margin-top: .25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.paymentpage .btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

.paymentpage .form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}

@media (max-width: 576px) {
  .paymentpage .form fieldset.fieldset-expiration {
    float: left;
    width: 70%;
  }
}

@media (min-width: 576px) {
  .paymentpage .form fieldset.fieldset-expiration {
    float: left;
    width: 60%;
  }
}

.paymentpage .form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}

.paymentpage .form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}

.paymentpage .form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Gilroy-Light ☞';
}

.paymentpage .form fieldset input, .form fieldset .select {
  width: 100%;
  height: 45px;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  /*font-size: 15px;*/
  outline: none !important;
  border: 1px solid #f2f4f8;
  /*box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);*/
  background-color: #f2f4f8;
}

@media (min-width: 576px) {
  .paymentpage .form fieldset input.input-cart-number, .paymentpage .form fieldset .select.input-cart-number {
    /*width: 100%;*/
    /*display: inline-block;*/
    /*margin-right: 8px;*/
  }
}

@media (max-width: 576px) {
  .paymentpage .form fieldset input.input-cart-number, .paymentpage .form fieldset .select.input-cart-number {
    width: 22%;
    display: inline-block;
    margin-right: 8px;
  }
}

.paymentpage .form fieldset input.input-cart-number:last-child, .paymentpage .form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}

.paymentpage .form fieldset .select {
  position: relative;
}

.paymentpage .form fieldset .select::after {
  content: '';
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}

.paymentpage .form fieldset .select select {
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}

.paymentpage .form button {
  width: 100%;
  border: none;
  box-shadow: none;
  margin-top: 30px;
  height: 3.2rem;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .paymentpage .checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 490px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    /*box-shadow: 0 10px 40px rgba(0, 0, 0, .1);*/
  }
}

@media (max-width: 576px) {
  .paymentpage .checkout {
    margin: 140px auto 30px;
    position: relative;
    width: 95%;
    background: white;
    border-radius: 15px;
    padding: 160px 13px 30px;
    /*box-shadow: 0 10px 40px rgba(0, 0, 0, .1);*/
  }
}

@media (min-width: 576px) {
  .paymentpage .checkout {
    margin: 140px auto 30px;
    position: relative;
    width: 460px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    /*box-shadow: 0 10px 40px rgba(0, 0, 0, .1);*/
  }
}

@media (max-width: 576px) {
  .paymentpage .credit-card-box {
    perspective: 1000;
    width: 94%;
    height: 220px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 576px) {
  .paymentpage .credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.paymentpage .credit-card-box:hover .flip, .paymentpage .credit-card-box.hover .flip {
  transform: rotateY(180deg);
}

@media (max-width: 576px) {
  .paymentpage .credit-card-box .front, .paymentpage .credit-card-box .back {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #005efd, #03989e);
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);*/
  }
}

@media (min-width: 576px) {
  .paymentpage .credit-card-box .front, .paymentpage .credit-card-box .back {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #005efd, #03989e);
    position: absolute;
    color: #fff;
    font-family: Inconsolata;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);*/
  }
}

.paymentpage .credit-card-box .front::before, .paymentpage .credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
  background-size: cover;
  opacity: 0.05;
}

.paymentpage .credit-card-box .flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.paymentpage .credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 30px;
  width: 60px;
}

.paymentpage .credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}

.paymentpage .credit-card-box .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.paymentpage .credit-card-box .back {
  transform: rotateY(180deg);
}

@media (max-width: 576px) {
  .paymentpage .credit-card-box .back .logo {
    top: 150px;
  }
}

@media (min-width: 576px) {
  .paymentpage .credit-card-box .back .logo {
    top: 163px;
  }
}

.paymentpage .credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}

.paymentpage .credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, .1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.paymentpage .credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}

.paymentpage .credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}

.paymentpage .credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}

@media (max-width: 576px) {
  .paymentpage .credit-card-box .card-holder, .paymentpage .credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 158px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
  }
}

@media (min-width: 576px) {
  .paymentpage .credit-card-box .card-holder, .paymentpage .credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
  }
}

.paymentpage .credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}

.paymentpage .credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}

.paymentpage .credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}

@media (min-width: 576px) {
  .paymentdiv {
    max-width: 480px;
    margin: 3rem auto 0;
  }
}

@media (min-width: 768px) {
  .contactpage .paymentdiv {
    max-width: 600px!important;
    margin: 3rem auto 0;
  }
}

@media (min-width: 576px) {
  .contactpage .paymentdiv {
    max-width: 500px;
    margin: 3rem auto 0;
  }
}

@media (min-width: 992px) {
  .contactpage .paymentdiv {
    max-width: 680px!important;
    margin: 3rem auto 0;
  }
}

@media (min-width: 1200px) {
  .contactpage .paymentdiv {
    max-width: 880px!important;
    margin: 3rem auto 0;
  }
}

@media (min-width: 1440px) {
  .contactpage .paymentdiv {
    max-width: 1000px!important;
    margin: 3rem auto 0;
  }
}

@media (max-width: 576px) {
  .paymentdiv {
    max-width: 95%;
    margin: auto;
  }
}

.paymentpage .paymentdiv h1, .paymentpage .paymentdiv h2, .paymentpage .paymentdiv h3, .paymentpage .paymentdiv h4, .paymentpage .paymentdiv h5, .paymentpage .paymentdiv h6 {
  font-family: 'Gilroy-Bold ☞';
}

.paymentpage .paymentdiv .blok {
  margin-bottom: 2rem;
}

.paymentpage .paymentdiv .odemedetaylari.blok {
  margin-bottom: 1rem;
}

.paymentpage .odemedetaylari h6 {
  /*color: rgba(0, 0, 0, .6);*/
}

.paymentdiv .form-control {
  border-radius: .7rem;
  height: 3rem;
  display: inline-flex;
  background-color: #f2f4f8;
  border-color: #f2f4f8;
}

.paymentpage .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: 0;
  margin-left: 0;
}

.paymentpage .siparisozeti {
  margin-bottom: 0;
}

.paymentpage .siparisozetiicerik {
  font-family: 'Gilroy-Bold ☞';
}

.paymentpage .logo {
  max-width: 200px;
}

* {
  /*outline: none;*/
  /*padding: 0;*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: none;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

.paymentdiv textarea.form-control {
  height: auto;
}

