.bg-white-300 {
  background: rgba(255, 255, 255, 0.3) !important;
}

.rounded-bottom-left {
  border-radius: 0;
  border-bottom-left-radius: .25rem!important;
}

.rounded-bottom-right {
  border-radius: 0;
  border-bottom-right-radius: .25rem!important;
}

.pricingtabcontent .card-footer:last-child {
  border-radius: 0 0 1.5rem 1.5rem;
  border-top: none;
}

.basliktable .tablepaket h3 {
  text-align: left;
  padding-left: 11px;
  color: #000000;
}

.basliktable .tablepaket {
  /*border-radius: 1rem 1rem 0 0;*/
  background-color: #f2f4f8!important;
  position: relative;
  padding: 0;
  /*border-width: 4px 4px 0;*/
  /*border-style: solid;*/
  /*border-color: var(--bs-warning);*/
}

.basliktable .tablepaket .paketismi {
  font-weight: bold;
  margin-bottom: 0;
}

.table {
  margin-bottom: 0;
}

.basliktable .tablepaket div {
  padding: 1.5rem .5rem 1rem;
  border-radius: 1rem 1rem 0 0;
}

.basliktable .propaket.tablepaket div {
  background-color: #e6eaff;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #4c6bf6;
  height: 100%;
}

.propaket.tablepaket {
}

.basliktable .propaket.tablepaket h3 {
  color: #4c6bf6;
}

.pricingnavbar .nav-link {
  padding: .5rem 0!important;
}

.pricingnavbar .nav-link {
  background-color: #e6eaff;
  /*color: #ffffff;*/
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 5rem;
  border-style: solid;
  border-width: 0px;
  border-color: #4c6bf6;
  color: #4c6bf6!important;
  padding-top: .8rem!important;
  padding-bottom: .8rem!important;
}

.pricingnavbar .nav-item {
  width: 100%;
}

.premiumfeatures h3, .premiumfeatures h2 {
  font-family: 'Gilroy-Heavy ☞';
  color: #4c6bf6;
  margin: 2rem 0 1.5rem;
}

.anasayfadaki .premiumfeatures h3, .anasayfadaki .premiumfeatures h2 {
  font-family: 'Gilroy-Bold ☞';
  color: #000000;
  margin: 2rem 0 1.5rem;
}

.premiumfeatures a {
  text-decoration: none;
  padding: .7rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 3rem;
  color: #4c6bf6;
  border-color: #4c6bf6;
  margin-top: 2rem;
  display: inline-block;
}

.premiumfeatures p {
  font-family: 'Gilroy-Light ☞';
}

.premiumfeatures .fotodivi {
  padding: 0 3rem;
}

.premiumfeatures .features-anadiv {
  background-color: #e6eaff;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  height: 100%;
  display: grid;
  align-items: center;
}

.fotodivi3 {
  padding: 0 4rem;
}

.fotodivi2 {
  padding: 0 2rem;
}

