@media (max-width: 576px) {
  img, svg {
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  .asilyazibolumu {
    padding: 35px 25px 25px 25px;
  }
}

@media (min-width: 768px) {
  .asilyazibolumu {
    padding: 55px;
  }
}

.yazi h3 {
  font-family: 'Gilroy-Bold ☞';
  margin-top: 2rem;
}

img, svg {
  vertical-align: middle;
}

* {
  /*outline: none;*/
  /*padding: 0;*/
}

.yazi p {
  color: #4e5d78;
  margin-top: 2rem;
  font-family: 'Gilroy-Light ☞';
}

@media (max-width: 768px) {
  .yazi {
    /*padding: 25px;*/
    /*padding-top: 35px;*/
  }
}

.asilyazibolumu img {
  margin-top: 2rem;
  max-height: 400px;
  border-radius: 1rem;
}

.alinti {
  border-left-width: 7px;
  border-left-style: solid;
  padding-left: 1rem;
  border-color: #4d6bf5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: none;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

.yazi {
  /*background-color: #ffffff;*/
  border-radius: 30px;
  /*max-width: 95%;*/
  margin: auto;
  font-family: 'Gilroy-Medium ☞';
  position: relative;
}

@media (min-width: 768px) {
  .yazi h2 {
    margin-top: 2rem;
    font-family: 'Gilroy-Bold ☞';
  }
}

@media (max-width: 768px) {
  .yazi h2 {
    margin-top: 0rem;
    font-family: 'Gilroy-Bold ☞';
  }
}

.yazi h4 {
  margin-top: 2rem;
  font-family: 'Gilroy-Medium ☞';
  color: #333333;
}

.yazigorseli {
  height: 50vh;
  border-radius: 2rem;
  border-width: 6px;
  border-style: solid;
  border-color: #eeeeee;
  position: relative;
}

.blogadon {
  color: #4d6bf5;
  background-color: rgba(255,255,255,0.92);
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  padding-right: 2px;
  z-index: 999999999;
  font-size: 1.2rem;
}

.searchaccordion .searchbox {
  margin-bottom: 1rem;
}

.asilyazibolumu {
  margin: 0 2vw;
  background-color: #fff;
  z-index: 9999;
  transform: translateY(-4rem);
  border-radius: 2rem;
}

.blogcontainer .fit-cover {
  border-radius: 1rem;
  height: 250px;
}

