.pixelbuttonsdiv {
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.pixeltable a {
  text-decoration: none;
  line-height: 32px;
  display: block;
}

@media (max-width: 768px) {
  .pixeltable tr > td:nth-child(2) {
    display: none;
  }
}

.contactpage .aktifhizmetcol.paymentdiv {
  margin-top: 2rem;
}

