@media (min-width: 768px) {
  .icerikyayinlandiimage {
    width: 309px;
  }
}

@media (max-width: 768px) {
  .kayitedildi {
    width: 90%;
    margin: auto;
  }
}

.kayitedildi {
  background: #ffffff;
  padding: 2rem;
  margin: 2% auto;
  border-right: 15px;
}

@media (min-width: 768px) {
  .kayitedildi {
    width: clamp(0%, 55%, 500px);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 2rem;
    box-shadow: 10px 10px;
  }
}

.griddiv {
  height: 75vh;
  align-items: center;
  display: grid;
}

